<?xml version="1.0"?>
<ruleset name="ATAL SEO Factory">
    <description>WordPress Coding Standards for the ATAL SEO Factory monorepo.</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>

    <file>packages</file>
    <file>plugins</file>
    <file>tests</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
    </rule>

    <rule ref="WordPress.Files.FileName.InvalidClassFileName">
        <exclude-pattern>*/tests/*Test.php</exclude-pattern>
    </rule>

    <rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
        <exclude-pattern>*/tests/*Test.php</exclude-pattern>
    </rule>
</ruleset>
